@model prjProyecto.Models.Entrega

@{
    ViewBag.Title = "Delete";
}

<h2 style="color:aliceblue">Eliminar</h2>

<h3 style="color:aliceblue">Está seguro que desea eliminar esto?</h3>
<div>
    <h4 style="color:aliceblue">Entrega</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:aliceblue">
            @Html.DisplayNameFor(model => model.Proveedor.ProveedorRUC)
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.Proveedor.ProveedorRUC)
        </dd>

        <dt style="color:aliceblue">
            @Html.DisplayNameFor(model => model.EntregaFecha)
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.EntregaFecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index",null, new { @class = "text-danger" })
        </div>
    }
</div>
