@model IEnumerable<prjProyecto.Models.PedidoDetalle>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:aliceblue">Index</h2>

<p style="color:aliceblue">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="color:aliceblue">
            @Html.DisplayNameFor(model => model.Pedidos.PedidoId)
        </th>
        <th style="color:aliceblue">
            @Html.DisplayNameFor(model => model.Productos.ProductoDescripcion)
        </th>
        <th style="color:aliceblue">
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th style="color:aliceblue">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="color:aliceblue">
            @Html.DisplayFor(modelItem => item.Pedidos.PedidoId)
        </td>
        <td style="color:aliceblue">
            @Html.DisplayFor(modelItem => item.Productos.ProductoDescripcion)
        </td>
        <td style="color:aliceblue">
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td style="color:aliceblue">
            @Html.DisplayFor(modelItem => item.PrecioUnitario)
        </td>
        <td style="color:aliceblue">
            @Html.ActionLink("Edit", "Edit", new { id=item.PedidoDetalleId }, new { @class = "text-danger" }) |
            @Html.ActionLink("Details", "Details", new { id=item.PedidoDetalleId }, new { @class = "text-danger" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PedidoDetalleId }, new { @class = "text-danger" })
        </td>
    </tr>
}

</table>
