@model prjProyecto.Models.Proveedor

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3 style="color:aliceblue">Esta seguro que desea eliminar esto?</h3>
<div>
    <h4 style="color:aliceblue">Proveedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:aliceblue">
            @Html.DisplayNameFor(model => model.ProveedorRUC)
        </dt>

        <dd style="color:aliceblue"> 
            @Html.DisplayFor(model => model.ProveedorRUC)
        </dd>

        <dt style="color:aliceblue">
            @Html.DisplayNameFor(model => model.ProveedorRazonSocial)
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.ProveedorRazonSocial)
        </dd>

        <dt style="color:aliceblue">
            @Html.DisplayNameFor(model => model.ProveedorNombreContacto)
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.ProveedorNombreContacto)
        </dd>

        <dt style="color:aliceblue">
            @Html.DisplayNameFor(model => model.ProveedorDireccion)
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.ProveedorDireccion)
        </dd>

        <dt style="color:aliceblue">
            @Html.DisplayNameFor(model => model.ProveedorTelefono)
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.ProveedorTelefono)
        </dd>

        <dt style="color:aliceblue">
            @Html.DisplayNameFor(model => model.ProveedorEmail)
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.ProveedorEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "text-danger" })
        </div>
    }
</div>
